@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    background: #f6f5f7; 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    padding-top: 70px;
    background-color: #f6f5f7;
}

header {
    background-color: #B2BDCB;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-bottom: 10px;
}

nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #ddd;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    background-color: #D4D6D9;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  header nav ul li {
    display: inline;
    margin-right: 10px;
  }

  header nav ul a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color:#9BA1AA;
    transition: background-color 0.3s, transform 0.3s;
  }

  header nav ul a:hover {
    background-color: #CEDAEA;
    transform: translateY(-2px);
  }
  footer{
    text-align: center;
  }